@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("Books.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: white;
	color: #000;
}

ul li.active a{
	background-color: white;
	color: black;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-60%,-20%);
}

.title2{
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-80%,-20%);
}

.title2 h1{
	color: white;
	font-size: 70px;
}

.title h1{
	color: white;
	font-size: 70px;
}

.title h2{
	color: white;
	font-size: 30px;
}

.title h3{
	color: white;
	font-size: 20px;
}

.button{
	position: absolute;
	top: 37%;
	left: 21%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid white;
	padding: 10px 25px;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: white;
	color: #000;
}

.text{
	position: absolute;
	top: 50%;
	right: 70%;
	transform: translate(30%,-20%);
	color: white;
}

.text2{
	position: absolute;
	top: 50%;
	right: 70%;
	transform: translate(40%,-25%);
	color: white;
}

.text3{
	position: absolute;
	top: 50%;
	right: 70%;
	transform: translate(30%, -15%);
	color: white;
}

.text4{
	position: absolute;
	top: 50%;
	right: 70%;
	transform: translate(25%, -15%);
	color: white; 
}

.pro img{
	float: right;
	width: 700px;
	height: auto;
	transform: translate(85%,60%);
	border-radius: 25px;
}

.soft img{
	float: right;
	width: 600px;
	height: auto;
	transform: translate(90%,20%);
	border-radius: 25px;
}

.studying img{
	float: right;
	width: 600px;
	height: auto;
	transform: translate(90%,20%);
	border-radius: 25px;
}

.studying2 img{
	float: right;
	width: 600px;
	height: auto;
	transform: translate(90%, 40%);
	border-radius: 25px;
}

.video{
	float: right;
	width: 700px;
	height: auto;
	transform: translate(95%,30%);
	transition: 0.6s ease;
}

.video2{
	float: right;
	width: 700px;
	height: auto;
	transform: translate(0%,30%);
	transition: 0.5s ease;
}

.footer{
	position: absolute;
	top: 50%;
	right: 70%;
	transform: translate(450%,2425%);
	color: white;
}






